---
import "../tailwind.css";
import Flag from '../assets/logo.svg';
import { Picture } from "astro:assets";
import { Code } from "astro:components";

export const prerender = false
let profileData;
// console.log("epa")
// console.log(Astro.cookies)
// console.log(Astro.request)
// console.log("Astro.response--------------------")
// console.log(Astro.response)
// console.log("Astro.request.headers--------------------")
// console.log(Astro.request.headers)
// console.log("Astro.request.cookie--------------------")
const cookieHeader = Astro.request.headers.get('cookie');
// console.log(cookieHeader, (typeof cookieHeader));
const match = cookieHeader?.match(/access_token=([^;]+)/);
console.log("match:", match? match[0] : null)
const split = match? match[0] : null
const access_token = split?.split("=")[1];

let data = null
if (Astro.cookies.has("id_user")) {
  console.log("Tiene la cookie")
  const id_user = Astro.cookies.get("id_user")?.value
  // console.log(id_user)
  
  const fetchData = async () => {
    const response = await fetch(`http://localhost:3000/api/v1/user/profile?id_user=${id_user}`, {
      method: 'GET',
      headers: {
        'x-api-version': '1',
        'Content-Type': 'application/json',
      }
    })
    profileData = await response.json();
    // console.log("profileData:", profileData)
    return profileData
  }

  data = await fetchData()
  console.log("data:", data)
}
---

<head>
  <meta charset="UTF-8" />
</head>
<body class="bg-[#0C1B1B] m-0 w-screen h-dvh font-lexend">
  <header class="flex justify-between items-center m-0 border-b border-black bg-[#11393c] text-white py-[10px] px-6">
      <a href="/" target="_blank">
        <Picture src={Flag} alt="test" class="w-10 h-10" >
      </a>
      <!-- w-12 mr-28 -->
      <div class="flex justify-between items-center w-44">
        <div class="flex justify-between items-center w-14">
          <a href="https://www.linkedin.com/in/ariel-britez-diaz-technical/" target="_blank">
            <span class="icon-[mdi--linkedin] bg-[#00c5b4] w-5 h-5 hover:bg-[#029185]"></span>
          </a>
          <a href="https://github.com/ArielBritezDiaz" target="_blank">
            <span class="icon-[bi--github] bg-[#00c5b4] w-4 h-4 hover:bg-[#029185]"></span>
          </a>
        </div>
        <div class="flex flex-col border-l-[1px] px-4">
          <span>Countries</span>
          <span>Sundries</span>
        </div>
      </div>
  </header>
  <main class="w-11/12 h-5/6 mx-6 py-5 rounded">
    <div class="flex flex-col w-full h-full bg-slate-50 rounded py-2 px-7 m-0">
      <h1 class="text-5xl text-[#11393c] opacity-90 my-5">Perfil del Usuario</h1>
      {
        data && access_token ? (
          <div class="my-2">
            <p class="text-base text-neutral-500 opacity-70 underline sm:text-4xl">Name</p>
            <p class="text-base text-[#11393c] sm:text-3xl">{data.name}</p>
          </div>
          <div>
            <p class="text-neutral-500 opacity-70 underline sm:text-4xl">Email</p>
            <p class="text-base text-[#11393c] sm:text-3xl">{data.email}</p>
          </div>
          <div>
            <p class="text-neutral-500 opacity-70 underline sm:text-4xl">Created At</p>
            <p class="text-base text-[#11393c] sm:text-3xl">{data.created_at}</p>
          </div>
          <div>
            <p class="text-base text-neutral-500 opacity-70 underline sm:text-4xl">Token</p>
            <div class="copy-text flex items-center my-2 sm:flex-col sm:justify-items-start">
              <input type="text" class="text w-full text-base bg-[#11393c] rounded text-[#00c5b4] p-3 transition-all delay-60 hover:bg-[#112b2c] hover:cursor-default sm:text-4xl" value={access_token} readonly />
              <button class="bg-[#11393c] text-[#00c5b4] mx-1 p-3 rounded transition-all delay-60 hover:bg-[#00c5b4] hover:text-[#11393c] hover:cursor-pointer sm:text-4xl" ><span class="icon-[solar--copy-bold-duotone] w-5 h-5 "></span></button>
            </div>
          </div>
      ) : (
        <div>
          <span>No profile data. For auto login, <a href="http://localhost:3000/v1/auth/google/login">click here <span class="icon-[flat-color-icons--google] text-xl p-0 m-0"></span></a></span>
        </div>
      )
    }
    </div>
  </main>
</body>

<script>
  let copyText = document.querySelector('.copy-text');
  copyText?.querySelector('button')?.addEventListener('click', () => {
    let input = copyText.querySelector('input.text');
    input?.select();
    document.execCommand('copy');
    copyText.classList.add('copied');
    window?.getSelection()?.removeAllRanges();
    setTimeout(() => {
      copyText.classList.remove('copied');
    }, 1000);
  });
</script>