---
import Image from 'astro/components/Image.astro';
import Starlight from '../../assets/project/technologies/starlight.webp';
import Nestjs from '../../assets/project/technologies/nestjs.svg';
import Prisma from '../../assets/project/technologies/prisma.svg';
import Tailwind from '../../assets/project/technologies/tailwind.svg';
import Typescript from '../../assets/project/technologies/typescript.svg';
import Vercel from '../../assets/project/technologies/vercel.svg';
import Bun from '../../assets/project/technologies/bun.svg';
import Mysql from '../../assets/project/technologies/mysql.svg';
---

<div class="flex items-center flex-row flex-wrap p-7">
  <div class="flex items-center mt-4">
    <a class="text-xl mr-2 hover:cursor-pointer no-underline flex" href="https://starlight.astro.build/" target="_blank">
      Starlight
      <Image class="w-10 h-10" src={Starlight} alt="Starlight" />
    </a>
  </div>
  <div class="flex items-center mt-4">
    <a class="text-xl mr-2 hover:cursor-pointer no-underline flex" href="https://nestjs.com/" target="_blank">
      NestJs
      <Image class="w-10 h-10" src={Nestjs} alt="Nestjs" />
    </a>
  </div>
  <div class="flex items-center mt-4">
    <a class="text-xl pl-10 mr-2 hover:cursor-pointer no-underline flex" href="" target="_blank">
      Prisma
      <Image class="w-10 h-auto" src={Prisma} alt="Prisma" />
    </a>
  </div>
  <div class="flex items-center mt-4">
    <a class="text-xl mr-2 hover:cursor-pointer no-underline flex" href="" target="_blank">
      Tailwind
      <Image class="w-10 h-auto" src={Tailwind} alt="Tailwind" />
    </a>
  </div>
  <div class="flex items-center mt-4">
    <a class="text-xl mr-2 hover:cursor-pointer no-underline flex" href="" target="_blank">
      Typescript
      <Image class="w-10 h-auto" src={Typescript} alt="Typescript" />
    </a>
  </div>
  <div class="flex items-center mt-4">
    <a class="text-xl mr-2 hover:cursor-pointer no-underline flex" href="" target="_blank">
      Vercel
      <Image class="w-10 h-auto" src={Vercel} alt="Vercel" />
    </a>
  </div>
  <div class="flex items-center mt-4">
    <a class="text-xl mr-2 hover:cursor-pointer no-underline flex" href="" target="_blank">
      Bun
      <Image class="w-10 h-auto" src={Bun} alt="Bun" />
    </a>
  </div>
  <div class="flex items-center mt-4">
    <a class="text-xl mr-2 hover:cursor-pointer no-underline flex" href="" target="_blank">
      Mysql
      <Image class="w-10 h-auto" src={Mysql} alt="Mysql" />
    </a>
  </div>
</div>
<!-- 
<ul>
  <li>
    Starlight
    <Image class="w-10 h-auto" src={Starlight} alt="Starlight" />
  </li>
  <li>
    NestJs
    <Image class="w-10 h-auto" src={Nestjs} alt="Nestjs" />
  </li>
  <li>
    Prisma
    <Image class="w-10 h-auto" src={Prisma} alt="Prisma" />
  </li>
  <li>
    Tailwind
    <Image class="w-10 h-auto" src={Tailwind} alt="Tailwind" />
  </li>
  <li>
    Typescript
    <Image class="w-10 h-auto" src={Typescript} alt="Typescript" />
  </li>
  <li>
    Vercel
    <Image class="w-10 h-auto" src={Vercel} alt="Vercel" />
  </li>
  <li>
    Bun
    <Image class="w-10 h-auto" src={Bun} alt="Bun" />
  </li>
  <li>
    Mysql
    <Image class="w-10 h-auto" src={Mysql} alt="Mysql" />
  </li>
</ul> -->