---
import Image from 'astro/components/Image.astro';

import Nestjs from '../../../assets/project/technologies/nestjs.svg';
import Mysql from '../../../assets/project/technologies/mysql.svg';
import Bun from '../../../assets/project/technologies/bun.svg';
import Prisma from '../../../assets/project/technologies/prisma.svg';
import Typescript from '../../../assets/project/technologies/typescript.svg';
---

<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://nestjs.com/" target="_blank">
  <span class="text-white">NestJs</span>
  <Image class="pl-2 w-10 h-10" src={Nestjs} alt="Nestjs" />
</a>
<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://www.mysql.com/" target="_blank">
  <span class="text-white">Mysql</span>
  <Image class="pl-2 w-10 h-auto" src={Mysql} alt="Mysql" />
</a>
<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://bun.sh/" target="_blank">
  <span class="text-white">Bun</span>
  <Image class="pl-2 w-10 h-auto" src={Bun} alt="Bun" />
</a>
<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://www.prisma.io/" target="_blank">
  <span class="text-white">Prisma</span>
  <Image class="pl-2 w-8 h-auto stroke[#f00]" src={Prisma} alt="Prisma" />
</a>
<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://www.typescriptlang.org/" target="_blank">
  <span class="text-white">Typescript</span>
  <Image class="pl-2 w-10 h-auto" src={Typescript} alt="Typescript" />
</a>